<h3 class="text-center bg-success text-white rounded p-1">Insignias</h3>
<div class="wrapper">
    <div class="card mb-4 mt-4 text-center shadow-sm" *ngFor="let ins of insignia">
        <div class="card-header border-success">
            <img [src]="ins.img" alt="Insignias" class="border-success">
        </div>
        <div class="card-body">
            <h2 class="card-title pricing-card-title text-gray-600">{{ins.name}}</h2>
            <p class="text-gray-700">{{ins.description}}</p>
            <hr class="border-success separator">
            <h2 class="card-title pricing-card-title">¿Como ganarla?</h2>
            <p class="text-gray-700">{{ins.howtoWin}}</p>
        </div>
    </div>
</div>