<div class="container-fluid">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 mt-4 shadow-sm border-success">
            <div class="card-header border-success">
                <img src="../../../assets/img/medals/medal-2.svg" alt="">
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Sociable</h1>
                <h3 class="card-title pricing-card-title">Descripcion</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <hr class="border-success">
                <h2 class="card-title pricing-card-title">¿Como ganarla?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nostrum fugit, iure natus minima laborum distinctio esse neque?</p>
            </div>
        </div>
        <div class="card mb-4 mt-4 shadow-sm border-success">
            <div class="card-header border-success">
                <img src="../../../assets/img/medals/medal-2.svg" alt="">
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Sociable</h1>
                <h3 class="card-title pricing-card-title">Descripcion</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <hr class="border-success">
                <h2 class="card-title pricing-card-title">¿Como ganarla?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nostrum fugit, iure natus minima laborum distinctio esse neque?</p>
            </div>
        </div>
        <div class="card mb-4 mt-4 shadow-sm border-success">
            <div class="card-header border-success">
                <img src="../../../assets/img/medals/medal-2.svg" alt="">
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Sociable</h1>
                <h3 class="card-title pricing-card-title">Descripcion</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <hr class="border-success">
                <h2 class="card-title pricing-card-title">¿Como ganarla?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nostrum fugit, iure natus minima laborum distinctio esse neque?</p>
            </div>
        </div>
        <div class="card mb-4 mt-4 shadow-sm border-success">
            <div class="card-header border-success">
                <img src="../../../assets/img/medals/medal-2.svg" alt="">
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Sociable</h1>
                <h3 class="card-title pricing-card-title">Descripcion</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <hr class="border-success">
                <h2 class="card-title pricing-card-title">¿Como ganarla?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nostrum fugit, iure natus minima laborum distinctio esse neque?</p>
            </div>
        </div>
    </div>
</div>