<!--Text decoration-->
<div class="text-center">
    <h2 class="text-gray-400">Bienvenidos a Community Fest and Code</h2>
    <p class="text-gray-500 font-weight-bold subtitle">¡Conoce gente, aprende y gana!</p>
    <p class="text-gray-400 paragraph font-weight-bold">La proxima edicion regresa en 2022, en la cual se planea involucrar a todos los programadores independientemente del area de conocimiento que se encuentre, todo con un mismo proposito, aprender en comunidad.</p>
</div>

<!--Slider 1-->
<h3 class="text-gray-400 text-center font-weight-light">Ellos ya creen en esta iniciativa:</h3>
<div id="carouselControls" class="carousel slide slider-creator" data-ride="carousel">
    <div class="carousel-inner mb-4">
        <div class="carousel-item" *ngFor="let creator of this.carruselunoservice.carruseluno; first as isFirst" [class.active]="isFirst">
            <img src="{{creator.img}}" class="d-block w-100" alt="Creadores">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="text-gray-100 font-weight-bold creator-name">{{creator.name}}</h5>
                <!-- <p class="text-gray-100 font-weight-bold creator-tecnology">{{creator.technology}}</p> -->
                <img src="{{creator.technologyImg}}" alt="Tecnologia" width="60px" class="creator-img">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--Slider 2-->
<h3 class="text-gray-400 text-left font-weight-light">Sponsors:</h3>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner mb-4" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
                    </div>
                </div>
                <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2 sponsor">
                        <img class="card-img-top sponsor" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
                    </div>
                </div>
            </div>

        </div>
        <!--/.Third slide-->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

</div>
<!--/.Carousel Wrapper-->

<!--Timer-->
<h4 class="text-gray-300 text-center">Preparate lo bueno esta por venir!</h4>
<div class="container mb-4 timer">

    <div class="timer-clock">
        <p>Dias</p>
        <p>365</p>
    </div>

    <div class="timer-clock">
        <p>Horas</p>
        <p>10</p>
        <p>:</p>
    </div>

    <div class="timer-clock">
        <p>Min</p>
        <p>20</p>
        <p>:</p>
    </div>

    <div class="timer-clock">
        <p>Seg</p>
        <p>45</p>
    </div>
</div>











<!-- <h3 class="text-gray-400 text-center font-weight-light">Ellos ya creen en esta iniciativa:</h3>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <ng-container *ngFor="let creator of creators; let i=index">
            <li data-target="#carouselExampleIndicators" [data-slide-to]="i" class="active"></li>
            <p>{{i}}</p>
        </ng-container>
    </ol>
    <div class="carousel-inner mb-4 ">
        <div class="carousel-item " *ngFor="let creator of creators; first as isFirst " [class.active]="isFirst ">
            <img [src]="creator.img " class="d-block w-100" alt="Creadores ">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{creator.name}}</h5>
                <p>{{creator.technology}}</p>
                <img [src]="creator.technologyImg" alt="Tecnologia" width="60px" class="">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev " href="#carouselExampleCaptions " role="button " data-slide="prev ">
        <span class="carousel-control-prev-icon " aria-hidden="true "></span>
        <span class="sr-only ">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleCaptions " role="button " data-slide="next ">
        <span class="carousel-control-next-icon " aria-hidden="true "></span>
        <span class="sr-only ">Next</span>
    </a>
</div> -->
