.programming-language,
.group-members {
  width: 2.2rem;
  height: 2.2rem;
}

.share {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 2rem;
}

.cardCostumize {
  width: 219px;
  height: 124px;
  object-fit: cover;
}

.cardTile {
  width: 100%;
  height: 30px;
}

.cardDescriptionCustomize {
  width: 100%;
  height: 100px;
  scrollbar-color: rgb(78, 115, 223) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  overflow-y: auto;
}

.cardDescriptionCustomize::-webkit-scrollbar {
  width: 6px;
}

.cardDescriptionCustomize::-webkit-scrollbar-track {
  background: white;
}

.cardDescriptionCustomize::-webkit-scrollbar-thumb {
  background-color:rgb(78, 115, 223);
  border: 0px solid orange;
}

.cursorPointer {
  cursor: pointer;
}

.socialRed {
  width:48px;
  height: 32px;;
}

.options a {
  border-radius: 10rem;
}