<div class="animate__animated animate__fadeIn">
    <h3 class="text-center bg-info text-white rounded">Grupos</h3>
    <div class="row mt-4">
        <div class="col-md-12 col-lg-3 mb-4 order-2 order-sm-1">
            <div class="card shadow">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-info">
                    <h6 class="m-0 font-weight-bold text-white">Mi grupo</h6>
                    <div class="dropdown no-arrow">
                        <a href="#" class="text-white" role="button" aria-haspopup="true" aria-expanded="false"> Ir al
                            grupo </a>
                    </div>
                </div>

                <div class="card-body">
                    <div *ngIf="hasGroup" class="mb-1 mt-1 shadow p-4">
                        <div class="row mb-2">
                            <div
                                class="col bg-secondary text-white d-flex flex-row align-items-center justify-content-between">
                                {{myGroup.name | uppercase}} 
                                <img class="programming-language img-fluid text-right rounded-circle"
                                    [src]="myGroup.img"
                                    alt="Programming language">
                            </div>
                        </div>
                        <div *ngFor="let member of myGroup.integrantes">
                            <div class="row d-flex flex-row align-items-center justify-content-between">
                                <img class="group-members bg-info img-fluid text-right rounded-circle"
                                    [src]="member.img"
                                    [alt]="member.nick">
                                <div class="col">
                                    <strong>{{member.nick | uppercase}}</strong>
                                    <div>Medio</div>
                                </div>
                                {{member.miInfoGroup.type === 0 ? 'Integrante' : 'Líder'}}
                            </div>
                            <hr>
                        </div>
                        <div class="row d-flex flex-row align-items-center justify-content-between">
                            <button type="button" class="btn btn-primary btn-sm">Ir al chat</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="leaveGroup()">Abandonar</button>
                        </div>
                    </div>
                    <div *ngIf="!hasGroup" class="mb-1 mt-1 text-center shadow p-4">
                        <p>No te has unido a un grupo</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col mb-4 order-1 order-sm-2">
            <div class="row">
                <div class="col-md-4">
                    <select class="custom-select">
                        <option selected>Filtrar por lenguaje</option>
                        <option>JavaScript</option>
                        <option>TypeScript</option>
                        <option>Java</option>
                        <option>C#</option>
                        <option>PHP</option>
                        <option>Python</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar grupo" aria-label="Buscar grupo">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" *ngFor="let group of listGroups; let id = index;">
                    
                    <div class="card mb-4">
                        <a class="btn btn-sm btn-primary share">
                         <i class="fa fa-share-alt"></i>
                        </a>
                        <img class="card-img-top" [src]="group.img" [alt]="group.name">
                        <div class="card-body">
                          <span class="badge badge-info">{{group.programming_language_id}}</span>
                          <h6 class="card-title mt-3"><strong>{{group.name | uppercase}}</strong></h6>
                          <p class="card-text text-justify">{{group.description}}</p>
                          
                          <div class="text-center">
                              <button type="button" class="btn btn-info" (click)="joinGroup(group.id)">Unirse</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>