<div class="animate__animated animate__fadeIn">
    <h3 class="text-center bg-info text-white rounded">Grupos</h3>
    <div class="row mt-4">
        <div class="col-md-12 col-lg-3 mb-4 order-2 order-sm-1">
            <div class="card shadow">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-info">
                    <h6 class="m-0 font-weight-bold text-white">Mi grupo</h6>
                    <div class="dropdown no-arrow">
                        <a href="#" class="text-white" role="button" aria-haspopup="true" aria-expanded="false"> Ir al
                            grupo </a>
                    </div>
                </div>

                <ng-container *ngIf="!loadingMembers; else elseMembers">
                    <div class="card-body">
                        <div *ngIf="hasGroup" class="mb-1 mt-1 shadow p-4">
                            <div class="row mb-2">
                                <div class="col bg-secondary text-white d-flex flex-row align-items-center justify-content-between">
                                    <p class="programming-language-name"> {{myGroup.name | uppercase}}</p>
                                    <img class="programming-language img-fluid text-right rounded-circle" [src]="myGroup.img" alt="Programming language">
                                </div>
                            </div>
                            <div *ngFor="let member of myGroup.integrantes">
                                <div class="row d-flex flex-row align-items-center justify-content-between">
                                    <img class="group-members bg-info img-fluid text-right rounded-circle" [src]="member.img" [alt]="member.nick">
                                    <div class="col">
                                        <strong>{{member.nick | uppercase}}</strong>
                                        <div>Medio</div>
                                    </div>
                                    {{member.miInfoGroup.type === 0 ? 'Integrante' : 'Líder'}}
                                </div>
                                <hr>
                            </div>
                            <div class="row d-flex flex-row align-items-center justify-content-between options">
                                <a class="btn btn-primary btn-sm">Ir al chat</a>
                                <a type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#leaveModal">
                                    Abandonar
                                </a>
                            </div>
                        </div>
                        <div *ngIf="!hasGroup" class="mb-1 mt-1 text-center shadow p-4">
                            <p>No te has unido a un grupo</p>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseMembers>
                    <app-loading *ngIf="loadingMembers"></app-loading>
                </ng-template>
            </div>
        </div>
        <div class="col mb-4 order-1 order-sm-2">
            <div class="row">
                <div class="col-md-4">
                    <select (change)="changeLanguage($event)" class="custom-select">
                        <option selected value="">Filtrar por lenguaje</option>
                        <option [value]="language.id" *ngFor="let language of languages">{{language.name}}</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        <input type="text" #searchTerm class="form-control" placeholder="Buscar grupo" aria-label="Buscar grupo">
                        <div class="input-group-append" (click)="searchGroups(searchTerm.value)">
                            <span class="btn btn-info cursorPointer"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <ng-container *ngIf="!loadingGroups; else elseGroups">
                    <ng-container *ngIf="listGroups.length > 0; else elseListGroups">
                        <div class="col-md-3 mb-3" *ngFor="let group of listGroups; let id = index;">
                            <div class="card h-100 mb-4">
                                <a class="btn btn-sm btn-primary share socialRed">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                                <img class="card-img-top cardCustomize" [src]="group.img" [alt]="group.name">
                                <div class="card-body">
                                    <span class="badge badge-info" [ngStyle]="{'background-color': group.color}">{{group.language}}</span>
                                    <h6 class="card-title mt-3 cardTile"><strong>{{group.name | uppercase}}</strong></h6>
                                    <p class="card-text text-justify">{{group.description}}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <a class="btn btn-info" (click)="joinGroup(group.id)">Unirse</a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #elseListGroups>
                        <div class="col text-center">
                            <p>No se encontraron grupos.</p>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-template #elseGroups>
                    <div class="col">
                        <app-loading></app-loading>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label">Abandonar grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas abandonar el grupo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="leaveGroup()">Abandonar grupo</button>
            </div>
        </div>
    </div>
</div>
