<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-4">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create una cuenta!</h1>
                        </div>
                        <form class="user" [formGroup]="form" (ngSubmit)="registrar()">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nick" formControlName="name" [class.is-invalid]="inputValid('name')">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Correo electronico" formControlName="email" [class.is-invalid]="inputValid('email')">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña" formControlName="password" [class.is-invalid]="inputValid('password')">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Confirmar contraseña" formControlName="confPassword" [class.is-invalid]="samePassword()">
                                    <small *ngIf="samePassword()" class="text-danger">
                                      La contraseña no coincide
                                    </small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block" [disabled]="form.invalid">
                              Crear una cuenta
                            </button>
                            <hr>
                            <!--<a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>-->
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" [routerLink]="['/recuperar']" routerLinkActive="router-link-active">Olvidaste tu contraseña?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" [routerLink]="['/login']" routerLinkActive="router-link-active">Ya tienes una cuenta? Logeate!</a>
                        </div>
                        <div class="text-center">
                            <p class="small">
                                Al registrarte estas aceptando los
                                <a [routerLink]="['/politics/terminos']" routerLinkActive="router-link-active">
                              Terminos y condiciones
                            </a> y las
                                <a [routerLink]="['/politics/politicas']" routerLinkActive="router-link-active">
                              Politicas de privacidad y proteccion de datos
                            </a> de COMFECO
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>