<div class="container">
    <div class="row justify-content-center mx-0">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-4">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create una cuenta!</h1>
                                </div>
                                <form *ngIf="!loading" class="user" [formGroup]="form" (ngSubmit)="register()">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input type="text" class="form-control form-control-user" id="nick" placeholder="Nick" formControlName="nick" [class.is-invalid]="inputValid('nick')">
                                            <div *ngIf="inputValid('nick')">
                                                <small *ngIf="form.controls.nick.errors.required" class="text-danger validationTypeDanger">
                                                    Campo requerido
                                                </small>
                                                <small *ngIf="form.controls.nick.errors.pattern" class="text-danger validationTypeDanger">
                                                    Formato no válido
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Correo electrónico" formControlName="email" [class.is-invalid]="inputValid('email')">
                                            <div *ngIf="inputValid('email')">
                                                <small *ngIf="form.controls.email.errors.required" class="text-danger validationTypeDanger">
                                                    Campo requerido
                                                </small>
                                                <small *ngIf="form.controls.email.errors.pattern" class="text-danger validationTypeDanger">
                                                    Formato no válido
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña" formControlName="password" [class.is-invalid]="inputValid('password')">
                                            <div *ngIf="inputValid('password')">
                                                <small *ngIf="form.controls.password.errors.required" class="text-danger validationTypeDanger ml-1">
                                                    Campo requerido
                                                </small>
                                                <small *ngIf="form.controls.password.errors.minlength" class="text-danger validationTypeDanger ml-1">
                                                    Se necesitan al menos 8 caracteres
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Confirmar contraseña" formControlName="confPassword" [class.is-invalid]="samePassword()">
                                            <div *ngIf="inputValid('confPassword')">
                                                <small *ngIf="form.controls.confPassword.errors.required" class="text-danger validationTypeDanger ml-1">
                                                    Campo requerido
                                                </small>
                                                <small *ngIf="form.controls.confPassword.errors.minlength" class="text-danger validationTypeDanger ml-1">
                                                    Se necesitan al menos 8 caracteres
                                                </small>
                                                <small *ngIf="samePassword()" class="text-danger validationTypeDanger ml-1">
                                                    Las contraseñas no coinciden
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary btn-user btn-block" [disabled]="form.invalid">
                                                Crear una cuenta
                                            </button>
                                        </div>
                                    </div>                           
                                </form>
                                <app-loading *ngIf="loading"></app-loading>
                                <hr>
                                <div class="text-center">
                                    <a class="small" [routerLink]="['/auth/recuperar']" routerLinkActive="router-link-active">Olvidaste tu contraseña?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Ya tienes
                                una cuenta? Logeate!</a>
                                </div>
                                <div class="text-center">
                                    <p class="small">
                                        Al registrarte estas aceptando los
                                        <a [routerLink]="['/politics/terminos']" routerLinkActive="router-link-active">
                                    Terminos y condiciones
                                </a> y las
                                        <a [routerLink]="['/politics/politicas']" routerLinkActive="router-link-active">
                                    Politicas de privacidad y proteccion de datos
                                </a> de COMFECO
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>