#user-image {
    width: 8rem;
    height: auto;
    border-radius: 30px;
}

.social-networks {
    font-size: 1.5em;
    margin: 5px;
}

.medal-img {
    width: 3rem;
    height: auto;
    background-color: white;
    border-radius: 22%;
    padding: 5px;
}

.header-profile, .header-badges, .header-events {
    background-color: #4e73df;
    color: white;
}

.btn-edit-profile {
   color: white;
}

.swiper-button-next,.swiper-button-prev {
    color: white;
}

.icon-check {
    color: green;
}

.img-event {
    width: 70%;
    height: auto;
}