#user-image {
    width: 8rem;
    height: 8rem;
    border-radius: 60px;
}

.social-networks {
    font-size: 1.5em;
    margin: 5px;
}

.medal-img {
    width: 3rem;
    height: auto;
    background-color: white;
    border-radius: 22%;
    padding: 5px;
}

.header-profile,
.header-badges,
.header-events {
    background-color: #4e73df;
    color: white;
}

.btn-edit-profile {
    color: white;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

.icon-check {
    color: green;
}

.img-event {
    width: 70%;
    height: auto;
}

.item-activity {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0.5em;
    border-radius: 0.5em;
}

.item-activity p {
    justify-self: center;
    align-self: center;
    margin: 0;
}

.comunidades .card-body {
    overflow: scroll;
    max-height: 500px;
}

.card-header img {
    object-fit: cover;
}