<div class="row">
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-header header-profile">
              <a class="float-right" href="#" title="Editar Perfil"><i class="fas fa-user-edit btn-edit-profile"></i></a>  
              <img id="user-image" [src]="userData?.img" class="img-fluid bg-white" [alt]="userData?.nick">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{userData.nick}}</h5>
              <p class="card-text">Front Developer / UI/UX</p>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime voluptates, minus architecto quasi debitis nesciunt error officia cum nulla, cupiditate molestias ab! Harum architecto dolorem optio qui aspernatur laboriosam necessitatibus.</p>
            </div>
            <div class="card-footer text-muted">
              <div>
                <i class="fab fa-twitter social-networks"></i>
                <i class="fab fa-facebook social-networks"></i>
                <i class="fab fa-instagram social-networks"></i>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-header header-badges">
              <h5 class="text-center">Insignias</h5> 
              <swiper [config]="config">

                <div class="swiper-wrapper">
    
                    <div class="swiper-slide" *ngFor="let medal of listMedals">
                        <div class="card-circle shadow">
                            <img class="medal-img" [src]="medal.img" [alt]="medal.name" [title]="medal.name">
                        </div>
                    </div>
    
                </div>
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </swiper>
            </div>
            <div class="card-body">
              <h5 class="card-title">Actividad reciente</h5>
              <hr>
              <div>
                  <div class="row text-justify shadow-sm mb-3" style="font-size: large;">
                    <div class="col-10">Te has unido al evento Community Fest and Code</div> 
                    <div class="col text-right"><span class="fas fa-check-circle icon-check"></span></div>
                  </div>
                  <div class="row text-justify shadow-sm mb-3" style="font-size: large;">
                    <div class="col-10">Te has unido al evento Community Fest and Code</div> 
                    <div class="col text-right"><span class="fas fa-check-circle icon-check"></span></div>
                  </div>
                  <div class="row text-justify shadow-sm mb-3" style="font-size: large;">
                    <div class="col-10">Te has unido al evento Community Fest and Code</div> 
                    <div class="col text-right"><span class="fas fa-check-circle icon-check"></span></div>
                  </div>
                  <div class="row text-justify shadow-sm mb-3" style="font-size: large;">
                    <div class="col-10">Te has unido al evento Community Fest and Code</div> 
                    <div class="col text-right"><span class="fas fa-check-circle icon-check"></span></div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow comunidades" style="overflow-y: auto; 
        max-height: 500px;">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between header-events">
                <h6 class="m-0 font-weight-bold">Eventos de tu interés</h6>
                <div class="dropdown no-arrow">
                    <a href="#" class="text-white" role="button" aria-haspopup="true" aria-expanded="false"> Ver más </a>
                </div>
            </div>
        
            <div class="card-body">
               <div class="mb-2">
                <div class="row mb-2 text-center">
                    <div class="col">
                        <img class="img-event" src="https://www.comfeco.com/icons/code-icon.svg">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col my-auto text-center text-uppercase">
                        <h6 class="my-auto">Community Fest and Code (Comfeco)</h6>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col my-auto unirme">
                        <a href="https://www.comfeco.com/" class="badge badge-primary small">Unirme</a>
                    </div>
                </div>
               </div>
               <div class="mb-2">
                <div class="row mb-2 text-center">
                    <div class="col">
                        <img class="img-event" src="https://www.comfeco.com/icons/code-icon.svg">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col my-auto text-center text-uppercase">
                        <h6 class="my-auto">Community Fest and Code (Comfeco)</h6>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col my-auto unirme">
                        <a href="https://www.comfeco.com/" class="badge badge-primary small">Unirme</a>
                    </div>
                </div>
               </div>
            </div>
            
        </div>
    </div>
</div>