<!-- Approach -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">¡Organizate ahora!</h3>
    </div>
    <div class="card-body">
        <div class="timeText">
            <p>{{days}}</p>
            <p>Dias</p>
        </div>
        <div class="timeText">
            <p>{{hours}}</p>
            <p>Horas</p>
        </div>
        <div class="timeText">
            <p>{{minutes}}</p>
            <p>Minutos</p>
        </div>
        <div class="timeText">
            <p>{{seconds}}</p>
            <p>Segundos</p>
        </div>
    </div>
</div>