<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="container">
    <main>
      <div class="py-5 text-center">

        <h3 class="mb-3">Editar perfil</h3>
        <br>
        <div id="preview" class="drag-drop">
            <input type="file" multiple="multiple" id="file"/>
            <span class="fa-stack fa-2x">
                <!-- <div *ngIf=""> -->
                    <i class="fas fa-camera fa-stack-1x bottom pulsating"></i>
                <!-- </div> -->
                <!-- <i class="fa fa-circle fa-stack-1x top medium"></i>
                <i class="fa fa-arrow-circle-up fa-stack-1x top"></i> -->

            </span>
            <span class="desc">Pulse aquí para añadir tú foto de perfil</span>
        </div>
        <br><br>

        <div class="col">
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="nickInput" class="form-label float-left">Nick <span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="nickInput" placeholder="Nick de usuario, el que verán los usuarios" value="" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
              </div>
  
              <div class="col-sm-6">
                <label for="emailInput" class="form-label float-left">Correo <span class="text-muted">*</span></label>
                <input type="email" class="form-control" id="emailInput" placeholder="tucorreo@ejemplo.com" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
              </div>
              
              <div class="col-4 mt-2"><br>
                <label for="generoInput" class="form-label float-left">Genero</label>
                  <input type="text" class="form-control" id="generoInput" placeholder="Sin especificar" required>
                    <div class="invalid-feedback">
                        Your username is required.
                    </div>
              </div>
  
              <div class="col-4 mt-2"><br>
                <label for="dateBirthInput" class="form-label float-left">Fecha de nacimiento <span class="text-muted">*</span></label>
                <input type="date" class="form-control" id="dateBirthInput" placeholder="">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
  
              <div class="col-4 mt-2"><br>
                <label for="countryInput" class="form-label float-left" >País <span class="text-muted">*</span></label>
                <input type="text" class="form-control" id="countryInput" placeholder="Sin especificar" required>
                  <select id="listCenTra">
                    <option value="" *ngFor="let dato of this.arrayResultFromService">
                      {{dato}}
                  </option>
                  </select>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>

              <div class="col-6 mt-3"><br>
                <label for="passwordInput" class="form-label float-left">Contraseña <span class="text-muted">*</span></label>
                <div class="input-group">
                <input type="password" class="form-control" id="passwordInput" placeholder="">
                <div class="input-group-append">
                  <button id="show_password" class="btn btn-primary" type="button" (click)="mostrarPassword()">
                    <span class="fa fa-eye-slash icon">
                    </span>
                  </button>
                </div>
              </div>
                <div class="invalid-feedback">
                    Please enter your shipping address.
                  </div>
              </div>

              <div class="col-6 mt-3"><br>
                <label for="passwordRepeatInput" class="form-label float-left">Repetir Contraseña <span class="text-muted">*</span></label>
                <div class="input-group">
                  <input type="password" class="form-control" id="passwordRepeatInput" placeholder="">
                  <div class="input-group-append">
                    <button id="show_passwordRepeat" class="btn btn-primary" type="button" (click)="mostrasPasswordRepeat()">
                      <span id="iconShow" class="fa fa-eye-slash icon">
                      </span>
                    </button>
                  </div>
                  </div>
                  <div class="invalid-feedback">
                    Please enter your shipping address.
                </div>
                </div>

                <div class="col-2 form-inline mt-5">
                    <img src="../assets/img/social-icons/facebook-icon.png" class="social-icon mr-3"/>
                    <label for="facebookInput" class="form-label">facebook.com/</label>
                </div>
                <div class="col-4 mt-5">
                    <input type="text" class="form-control especifyInput" id="facebookInput" placeholder="(vacío)">
                </div>

                <div class="col-2 form-inline mt-5">
                    <img src="../assets/img/social-icons/github-icon.png" class="social-icon mr-3"/>
                    <label for="githubInput" class="form-label">github.com/</label>
                </div>
                <div class="col-4 mt-5">
                    <input type="text" class="form-control especifyInput" id="githubInput" placeholder="(vacío)">
                </div>

                <div class="col-2 form-inline mt-5">
                    <img src="../assets/img/social-icons/linkedin-icon.png" class="social-icon mr-3"/>
                    <label for="linkedinInput" class="form-label">linkedin.com/in/</label>
                </div>
                <div class="col-4 mt-5">
                    <input type="text" class="form-control especifyInput" id="linkedinInput" placeholder="(vacío)">
                </div>

                <div class="col-2 form-inline mt-5">
                    <img src="../assets/img/social-icons/twitter-icon.png" class="social-icon mr-3"/>
                    <label for="twitterInput" class="form-label">twitter.com/</label>
                </div>
                <div class="col-4 mt-5">
                    <input type="text" class="form-control especifyInput" id="twitterInput" placeholder="(vacío)">
                </div>

                <div class="col-12 mt-3"><br>
                    <label for="biografiaInput" class="form-label float-left">Biografía</label>
                    <textarea rows="3" class="form-control" id="biografiaInput" placeholder=""></textarea>
                </div>
            </div>
  
            <hr class="my-4">
  
            <button class="w-12 btn btn-primary btn-lg float-right" type="submit">Guardar cambios</button>
          </form>
        </div>
      </div>
    </main>

</div>
<br><br><br><br>
  
  