<div class="container">
    <main>
        <div class="py-5 text-center">
            <h4 class="mb-3">Editar perfil</h4>

            <div>
                <div id="preview" class="drag-drop">
                    <a class="btn-primary btn-circle text-white" (click)="fileInput.click()">
                        <i class="fa fa-plus "></i>
                    </a>
                    <img *ngIf="imagePath" [src]="imagePath">
                    <input type="file" id="file" #fileInput (change)="changeListener($event)" style="display:none;" />

                </div>
            </div>

            <br><br>

            <div class="col">
                <form autocomplete="off" class="user" novalidate [formGroup]="formEdit" (ngSubmit)="sendData()">
                    <div class="row g-3">
                        
                        <div class="col-sm-12 col-md-4 mb-4">
                            <label for="nickInput" class="form-label float-left">Nick <span class="text-muted"></span></label>
                            <input formControlName="nick" type="text" class="form-control form-control-user" id="nickInput" placeholder="Nick de usuario, el que verán los usuarios" value="" [class.is-invalid]="checkValid('nick')" required>
                            <div *ngIf="checkValid('nick')">
                                <small *ngIf="formEdit.controls.nick.errors.required" class="text-danger validationTypeDanger">
                                    Nombre de usuario requerido
                                </small>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 mb-4">
                            <label for="emailInput" class="form-label float-left">Correo <span class="text-muted"></span></label>
                            <input formControlName="email" type="email" class="form-control form-control-user" id="emailInput" placeholder="tucorreo@ejemplo.com" [class.is-invalid]="checkValid('email')" required>
                            <div *ngIf="checkValid('email')">                          
                                <small *ngIf="formEdit.controls.email.errors.required" class="text-danger validationTypeDanger">
                                    Email inválido
                                </small>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 mb-4">
                            <label for="knowlegdeArea" class="form-label float-left">Área de conocimiento <span class="text-muted"></span></label>
                           <input style="text-transform: capitalize;" [(ngModel)]="inputRol" name="inputRol" formControlName="knowlegdeArea" type="text" class="form-control form-control-user" id="knowlegdeAreaInput" placeholder="Selecciona un rol." value="" [class.is-invalid]="checkValid('knowlegdeArea')" required/>
                           <!-- <div class="customizeSelect" id="customizeSelect"> -->
                            <div class="container_list shadow-sm" id="customizeSelectUl">  
                                <p *ngFor="let item of listRols" (click)="selectRol(item)">{{ item }} </p>
                            </div> 
                            <!-- </div> -->
                            <div *ngIf="checkValid('knowlegdeArea')">
                                <small *ngIf="formEdit.controls.knowlegdeArea.errors.required" class="text-danger validationTypeDanger">
                                   Don't selected rol.
                                </small>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 mb-5">
                            <label for="generoInput" class="form-label float-left">Género <span class="text-muted">*</span></label>
                            <input formControlName="gender" type="text" class="form-control form-control-user" style="text-transform: capitalize;" id="generoInput" placeholder="Tú genero">
                            <div *ngIf="checkValid('gender')">
                                <small class="text-danger validationTypeDanger">
                                        El campo acepta "M", "F", u "Otro"
                                </small>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 mb-5">
                            <label for="dateBirthInput" class="form-label float-left">Fecha de nacimiento <span class="text-muted"></span></label>
                            <input formControlName="birthday" type="date" class="form-control form-control-user" id="dateBirthInput" placeholder="" [class.is-invalid]="checkValid('birthday')">
                            <div *ngIf="checkValid('birthday')">
                                <small *ngIf="formEdit.controls.birthday.errors.required" class="text-danger validationTypeDanger">
                                    Fecha vacía
                                </small>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4 mb-5 relative">
                            <label for="countryInput" class="form-label float-left">País <span class="text-muted"></span></label>
                            <input style="text-transform: capitalize;" formControlName="country" type="text" class="form-control form-control-user" (ngModelChange)="filterCountry($event)" id="countryInput" placeholder="Selecionar pais" [class.is-invalid]="checkValid('country')">
                            <div class="container_list shadow-sm" *ngIf="wordFilterCountry?.length>0 && formEdit.get('country').dirty">
                                <p *ngFor="let country of listFilterCountry" (click)="selectCountry(country.original)"> {{country.original}}</p>
                            </div>
                            <div *ngIf="checkValid('country')">
                                <small *ngIf="formEdit.controls.country.errors.required" class="text-danger validationTypeDanger">
                                    Escriba un país
                                </small>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2  form-inline mb-3">
                            <img src="../assets/img/social-icons/linkedin-icon.png" class="social-icon mr-3" />
                            <label for="facebookInput" class="form-label">facebook.com/</label>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-3">
                            <input formControlName="facebook" type="text" class="form-control form-control-user especifyInput" id="facebookInput" placeholder="(vacío)">
                        </div>

                        <div class="col-md-2 col-sm-12 form-inline mb-3">
                            <img src="../assets/img/social-icons/github-icon.png" class="social-icon mr-3" />
                            <label for="githubInput" class="form-label">github.com/</label>
                        </div>
                        <div class="col-md-4 col-sm-12 mb-3 ">
                            <input formControlName="github" type="text" class="form-control form-control-user especifyInput" id="githubInput" placeholder="(vacío)">
                        </div>

                        <div class="col-md-2 col-sm-12 form-inline mb-3">
                            <img src="../assets/img/social-icons/facebook-icon.png" class="social-icon mr-3" />
                            <label for="linkedinInput" class="form-label">linkedin.com/in/</label>
                        </div>
                        <div class="col-md-4 col-sm-12 mb-3">
                            <input formControlName="linkedin" type="text" class="form-control  form-control-user especifyInput" id="linkedinInput" placeholder="(vacío)">
                        </div>

                        <div class="col-md-2 col-sm-12 form-inline mb-3">
                            <img src="../assets/img/social-icons/twitter-icon.png" class="social-icon mr-3" />
                            <label for="twitterInput" class="form-label">twitter.com/</label>
                        </div>
                        <div class="col-md-4 col-sm-12 mb-3">
                            <input formControlName="twitter" type="text" class="form-control form-control-user especifyInput" id="twitterInput" placeholder="(vacío)">
                        </div>

                        <div class="col-12 mb-3 mt-4">
                            <label for="biografiaInput" class="form-label float-left">Biografía</label>
                            <textarea formControlName="biography" rows="3" name="biographyNGModel" class="form-control form-control-user" id="biografiaInput" placeholder="" [(ngModel)]="biographyNGModel" [class.is-invalid]="checkValid('biography')"></textarea>
                            <span class="biographyCount">{{biographyNGModel.length}}/140</span>
                            <div *ngIf="checkValid('biography')">
                                <small *ngIf="formEdit.controls.biography.errors.maxlength" class="text-danger validationTypeDanger">
                                    You are in the limit, 140 characteres.
                                </small>
                            </div>                            
                        </div>
                    </div>

                    <button [disabled]="formEdit.pristine || formEdit.invalid" class="w-12 btn btn-primary btn-md float-right" type="submit">Guardar cambios</button>
                </form>

            </div>
        </div>
        <hr class="my-4">
        <div class="py-5 text-center">
            <h4 class="mb-3">Editar Contraseña</h4>
            <form class="user" [formGroup]="formChangePassword" (ngSubmit)="changeNewPassword()">
                <div class="row">
                    <div class="col-sm-12 col-md-6  mb-3">
                        <input formControlName="newPassword" type="password" class="form-control form-control-user especifyInput" [class.is-invalid]="samePassword() || checkValidPassword('confirmNewPassword')" id="newPassword" placeholder="Nueva contraseña">
                        <div *ngIf="checkValidPassword('newPassword')">
                            <small *ngIf="formChangePassword.controls.newPassword.errors.required" class="text-danger validationTypeDanger">
                                La contraseña es requerida.
                            </small>
                            <small *ngIf="formChangePassword.controls.newPassword.errors.minlength" class="text-danger validationTypePDanger">
                                La contraseña debe tener al menos 8 caracteres.
                            </small>
                            <small *ngIf="samePassword()" class="text-danger validationTypeDanger" class="text-danger validationTypePDanger">
                                Las contraseñas no coinciden.
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6  mb-3">
                        <input formControlName="confirmNewPassword" type="password" class="form-control form-control-user especifyInput" [class.is-invalid]="samePassword()" id="confirmNewPassword" placeholder="Confirmar contraseña">
                        <div *ngIf="checkValidPassword('confirmNewPassword')">
                            <small *ngIf="formChangePassword.controls.confirmNewPassword.errors.required" class="text-danger validationTypeDanger">
                                La contraseña es requerida.
                            </small>
                            <small *ngIf="formChangePassword.controls.confirmNewPassword.errors.minlength" class="text-danger validationTypePDanger">
                                La contraseña debe tener al menos 8 caracteres.
                            </small>
                        </div>
                    </div>
                </div>
                <button [disabled]="formChangePassword.invalid" class="w-12 btn btn-primary btn-md float-right" type="submit">Guardar cambios</button>
            </form>
        </div>
        <div *ngIf="loading" class="text-center loading">
            <app-loading></app-loading>
        </div>
    </main>
    <br/><br/>
</div>
