<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<div class="container">
      <div class="py-5 text-center">
        <h3 class="mb-3">Editar perfil</h3>
        <br>
        <div id="preview" class="drag-drop">
            <input type="file" multiple="multiple" id="file"/>
            <span class="fa-stack fa-2x">
                <!-- <div *ngIf=""> -->
                    <i class="fas fa-camera fa-stack-1x bottom pulsating"></i>
                <!-- </div> -->
                <!-- <i class="fa fa-circle fa-stack-1x top medium"></i>
                <i class="fa fa-arrow-circle-up fa-stack-1x top"></i> -->

            </span>
            <!-- <span class="desc">Pulse aquí para añadir tú foto de perfil</span> -->

        <!-- <h4 class="mb-3">Editar perfil</h4>

        <div>
          <div id="preview" class="drag-drop">
            <a class="btn-primary btn-circle text-white" (click)="fileInput.click()">
              <i class="fa fa-plus "></i>
            </a>
              <img *ngIf="imagePath" [src]="imagePath">
              <input type="file" id="file"  #fileInput (change)="changeListener($event)" style="display:none;"/>
              
                  <!-- <span class="fa-stack fa-2x">
                  <i class="fa fa-cloud fa-stack-2x bottom pulsating"></i>
                  <i class="fa fa-circle fa-stack-1x top medium"></i>
                  <i class="fa fa-arrow-circle-up fa-stack-1x top"></i>
              </span>
              <span class="desc">Pulse aquí para añadir tú foto de perfil</span> -->
          </div>
        </div>
        <br>

          <form [formGroup]="formEditPerfil" (ngSubmit)="submit()"> <!-- novalidate [formGroup]="formEdit" -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-4">
                <label for="nick" class="form-label float-left">Nick <span class="text-muted">*</span></label>
                <input formControlName="nick" maxlength="60"
                        type="text" class="form-control" id="nick" placeholder="Nick de usuario, el que verán los usuarios" value="" required/>
                <div class="text-danger" *ngIf="checkValid('nick')"> <!-- Validation for nick -->
                    <div *ngIf="this.formEditPerfil.get('nick').errors?.required">
                        Valid first name is required.
                    </div>
                  </div>
              </div>
  
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-4">
                <label for="emailInput" class="form-label float-left">Correo <span class="text-muted">*</span></label>
                <input type="email" formControlName="emailInput" maxlength="60"
                class="form-control" id="emailInput" placeholder="tucorreo@ejemplo.com" required>
                <div class="text-danger" *ngIf="checkValid('emailInput')">
                  <div *ngIf="this.formEditPerfil.get('emailInput').errors?.required">
                        Please enter a valid email address for shipping updates.
                  </div>
                  <div *ngIf="this.formEditPerfil.get('emailInput').errors?.email">
                    Don't is a email.
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-3"><br>
                <label for="generoInput" class="form-label float-left">Genero</label>
                  <input type="text" formControlName="generoInput" maxlength="60"
                  class="form-control" id="generoInput" placeholder="Sin especificar" required>
                    <div class="invalid-feedback">
                        Your username is required.
                    </div>
              </div>
  
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-3"><br>
                <label for="dateBirthInput" class="form-label float-left">Fecha de nacimiento <span class="text-muted">*</span></label>
                <input formControlName="dateBirthInput"
                        type="date" class="form-control" id="dateBirthInput" placeholder="">
                <div class="text-danger" *ngIf="checkValid('dateBirthInput')">
                  <div *ngIf="this.formEditPerfil.get('dateBirthInput').errors?.required">    
                    Don't write a date.
                  </div>
                </div>
              </div>
  
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-3"><br>
                <label for="countryInput" class="form-label float-left" >País <span class="text-muted">*</span></label>

                <input type="text" formControlName="countryInput"
                id="countryInput" class="form-control" placeholder="Sin especificar" required>
                    <ul id="listCountriesUl" class="listUl">
                      <span *ngFor="let dato of this.arrayResultFromService">
                        <li class="listIl" (click)="selectedCountry(this.dato);">{{dato}}</li>
                      </span>
                    </ul>
                <div class="text-danger" *ngIf="checkValid('countryInput')">
                  <div *ngIf="this.formEditPerfil.get('countryInput').errors?.required">    
                    Don't write a country.
                  </div>
                </div>
              </div>
            </div>
            
              <!-- <div class="col-6 mt-3"><br>
                <label for="passwordInput" class="form-label float-left">Contraseña <span class="text-muted">*</span></label>
                <div class="input-group">
                <input type="password" class="form-control" id="passwordInput" placeholder="">
                <div class="input-group-append">
                  <button id="show_password" class="btn btn-primary" type="button">
                    <span class="fa fa-eye-slash icon">
                    </span>
                  </button>
                </div>
              </div>
                <div class="invalid-feedback">
                    Please enter your shipping address.
                  </div>
              </div> -->

              <!-- <div class="col-6 mt-3"><br>
                <label for="passwordRepeatInput" class="form-label float-left">Repetir Contraseña <span class="text-muted">*</span></label>
                <div class="input-group">
                  <input type="password" class="form-control" id="passwordRepeatInput" placeholder="">
                  <div class="input-group-append">
                    <button id="show_passwordRepeat" class="btn btn-primary" type="button">
                      <span id="iconShow" class="fa fa-eye-slash icon">
                      </span>
                    </button>
                  </div>
                  </div>
                  <div class="invalid-feedback">
                    Please enter your shipping address.
                </div>
                </div> -->
              <div class="row">
                  <div class="col-xs-2 col-sm-4 col-md-4 col-lg-3 mt-5">
                      <img src="../assets/img/social-icons/facebook-icon.png" class="social-icon mr-3"/>
                      <label for="facebookInput" class="form-label">facebook.com/</label>
                  </div>
                  <div class="col-xs-10 col-sm-8 col-md-8 col-lg-3 mt-5">
                      <input formControlName="facebookInput"
                              type="text" class="form-control especifyInput" id="facebookInput" placeholder="(vacío)">
                  </div>

                  <div class="col-xs-2 col-sm-4 col-md-4 col-lg-3 mt-5">
                      <img src="../assets/img/social-icons/github-icon.png" class="social-icon mr-3"/>
                      <label for="githubInput" class="form-label">github.com/</label>
                  </div>
                  <div class="col-xs-10 col-sm-8 col-md-8 col-lg-3 mt-5">
                      <input formControlName="githubInput" 
                              type="text" class="form-control especifyInput" id="githubInput" placeholder="(vacío)">
                  </div>
              </div>

              <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-4 col-lg-3 mt-5">
                    <img src="../assets/img/social-icons/linkedin-icon.png" class="social-icon mr-3"/>
                    <label for="linkedinInput" class="form-label">linkedin.com/in/</label>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-8 col-lg-3 mt-5">
                    <input formControlName="linkedinInput"                    
                            type="text" class="form-control especifyInput" id="linkedinInput" placeholder="(vacío)">
                </div>

                <div class="col-xs-2 col-sm-2 col-md-4 col-lg-3 mt-5">
                    <img src="../assets/img/social-icons/twitter-icon.png" class="social-icon mr-3"/>
                    <label for="twitterInput" class="form-label">twitter.com/</label>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-8 col-lg-3 mt-5">
                  <input formControlName="twitterInput"
                            type="text" class="form-control especifyInput" id="twitterInput" placeholder="(vacío)">
                </div>
              </div>
              <div class="row">            
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-4"><br>
                    <label for="biografiaInput" class="form-label float-left">Biografía</label>
                    <textarea formControlName="biografiaInput"
                               rows="3" class="form-control" id="biografiaInput" placeholder=""></textarea>
                </div>
              </div>
  
            <hr class="my-4">
            <button class="w-12 btn btn-primary btn-lg float-right" type="button">Guardar cambios</button>
            <button onclick="window.location=href='client/editarperfilpassword/'" class="w-12 btn btn-primary btn-lg float-right spacingButton" type="button">Cambiar password</button>
          </form>
      </div>
      <br><br><br><br>
  
  