<div class="py-5 text-center">
    <h3 class="mb-3">Cambiar contraseña</h3>
</div>
<br>
<form [formGroup]="formEditPerfilPassword"> <!-- novalidate [formGroup]="formEdit" -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-5"><br>
            <label for="passwordInput" class="form-label float-left">Contraseña <span class="text-muted">*</span></label>
            <div class="input-group">
            <input type="password" formControlName="passwordInput" class="form-control form-control-user" id="passwordInput" placeholder="">
            <div class="input-group-append">
              <button id="show_password" class="btn btn-primary" type="button" (click)="mostrarPassword()">
                <span id="iconShow" class="fa fa-eye-slash icon">
                </span>
              </button>
            </div>
          </div>
          <div *ngIf="inputValid('passwordInput')">
            <small *ngIf="formEditPerfilPassword.controls.passwordInput.errors.required" class="text-danger">
                Don't write a password
            </small>
            <small *ngIf="formEditPerfilPassword.controls.passwordInput.errors.minlength" class="text-danger">
                Need 8 digits as normal
            </small>
        </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-5"><br>
            <label for="passwordRepeatInput" class="form-label float-left">Repetir Contraseña <span class="text-muted">*</span></label>
            <div class="input-group">
              <input type="password" formControlName="passwordRepeatInput" class="form-control form-control-user" id="passwordRepeatInput" placeholder="">
              <div class="input-group-append">
                <button id="show_passwordRepeat" class="btn btn-primary" type="button" (click)="showPasswordRepeat()">
                  <span id="iconShowRepeat" class="fa fa-eye-slash icon">
                  </span>
                </button>
              </div>
              </div>
              <div *ngIf="inputValid('passwordRepeatInput')">
                <small *ngIf="formEditPerfilPassword.controls.passwordRepeatInput.errors.required" class="text-danger">
                    Don't write a password
                </small>
                <small *ngIf="formEditPerfilPassword.controls.passwordRepeatInput.errors.minlength" class="text-danger">
                    Need 8 digits as normal
                </small>
                <small *ngIf="samePassword()" class="text-danger">
                    Las contraseñas no coinciden
                </small>
            </div>
        </div> 
    </div>
    <hr class="my-4">
    <button class="w-12 btn btn-primary btn-lg float-right spacingButton" type="button">Guardar cambios</button>
    <button onclick="window.location=href='client/editarperfil/'" class="w-12 btn btn-primary btn-lg float-right" type="button">Volver</button>
</form> 
