<div class="container-fluid py-3">

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow btn" (click)="changeMenu('profile')">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-primary text-uppercase">
                                Mi perfil</div>
                        </div>
                        <div class="col-auto text-center">
                            <i class="fas fa-user-circle fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow btn" (click)="changeMenu('badges')">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-success text-uppercase">
                                Insignias</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-medal fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow btn" (click)="changeMenu('groups')">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-info text-uppercase">
                                Grupos</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow btn" (click)="changeMenu('events')">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-warning text-uppercase">
                                Eventos</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar-alt fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="container-fluid bg-white p-2 border-profile">
    <div [ngSwitch]="activeView">
        <div *ngSwitchCase="'profile'">
            <app-profile></app-profile>
        </div>
        <div *ngSwitchCase="'badges'">
            <app-badges></app-badges>
        </div>
        <div *ngSwitchCase="'groups'">
            <app-groups></app-groups>
        </div>
        <div *ngSwitchCase="'events'">
            <app-events></app-events>
        </div>
        <div *ngSwitchDefault><app-profile></app-profile></div>
    </div>
</div>