<div class="container-fluid py-3">

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card profile-background shadow btn" [ngClass]="(activeView == 'profile') ? 'active' : 'border-left-primary'" (click)="changeMenu('profile')">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-uppercase">
                                Mi perfil</div>
                        </div>
                        <div class="col-auto text-center">
                            <i class="fas fa-user fa-2x"></i>
                        </div>
                    </div>
                </div>
           </div>
            <div *ngIf="activeView === 'profile'" class="row bg-primary animate__animated animate__fadeInLeft animate__faster" style="height: 4px;">
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow badge-background btn" [ngClass]="(activeView == 'badges') ? 'active' : 'border-left-success'" (click)="changeMenu('badges')">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-uppercase">
                                Insignias</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-medal fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="activeView === 'badges'" class="row bg-success animate__animated animate__fadeInLeft animate__faster mt-1" style="height: 4px;"></div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow groups-background btn" [ngClass]="(activeView == 'groups') ? 'active' : 'border-left-info'" (click)="changeMenu('groups')">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-uppercase">
                                Grupos</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="activeView === 'groups'" class="row bg-info animate__animated animate__fadeInLeft animate__faster mt-1" style="height: 4px;"></div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow events-background btn" [ngClass]="(activeView == 'events') ? 'active' : 'border-left-warning'" (click)="changeMenu('events')">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-uppercase">
                                Eventos</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar-alt fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="activeView === 'events'" class="row bg-warning animate__animated animate__fadeInLeft animate__faster mt-1" style="height: 4px;"></div>
        </div>
    </div>
    
</div>

<div class="container-fluid bg-white p-2" [ngClass]="{'profile':'border border-primary', 'badges':'border border-success', 'groups':'border border-info', 'events':'border border-warning'}[activeView]">
    <div [ngSwitch]="activeView">
        <div *ngSwitchCase="'profile'">
            <app-profile></app-profile>
        </div>
        <div *ngSwitchCase="'badges'">
            <app-badges></app-badges>
        </div>
        <div *ngSwitchCase="'groups'">
            <app-groups></app-groups>
        </div>
        <div *ngSwitchCase="'events'">
            <app-events></app-events>
        </div>
        <div *ngSwitchDefault><app-profile></app-profile></div>
    </div>
</div>