/* 
 Reset de CSS
*/

html, body{
    height: 100%;
    position: relative;
    min-height:100vh !important;

}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container{
    min-height: 100vh;
}